/*@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    background: #FFFFFF;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

body {
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
}

.modal {
    background-color: rgb(223, 28, 28);
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    transition: all 1s linear;
}

span {
    display: none;
}

.red {
    color: red;
}
.sm-font {
    font-size: 40px;
}*/

/*body {
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fnameInput,
.lnameInput,
.phoneInput,
.emailInput,
.countrySelect,
.citySelect {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    padding: 0 10px;
}
.btn {
    height: 30px;
    border-radius: 5px;
    border: 0;
    padding: 0 20px;
    background-color: rgb(255, 217, 0);
    margin-top: 40px;
}
.box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}*/
/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}*/

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Roboto", sans-serif;
    --color: rgb(43, 68, 180);
    --color2: rgb(157, 239, 241);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
            330deg,
            var(--color) 10%,
            var(--color2) 80%
    );
    font-size: 20px;
}

label {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
}

input {
    margin: 50px 0 10px;
    padding: 7px;
    font-size: 20px;
}

.result {
    margin: 10px 0 50px;
    font-size: 26px;
    color: rgb(255, 255, 102);
    letter-spacing: 1px;
    height: 1em;
    font-weight: bold;
}

button {
    width: 200px;
    margin: 0 30px;
    padding: 10px 30px;
    background: none;
    border: 2px solid var(--color);
    border-radius: 5px;
    color: var(--color2);
    font-size: 25px;
    transition: color 0.3s, box-shadow 0.3s;
    box-shadow: 3px 3px 10px var(--color);
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    color: var(--color);
    box-shadow: 3px 3px 10px var(--color2);
}
@media screen and (max-width: 500px) {
    label {
        font-size: 35px;
    }
}

@media screen and (max-width: 1000px) {
    button {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }
}*/
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: IranSans
}

@font-face {
    font-family: IranSans;
    src: url(../fonts/IRANSansWeb.ttf);
}

body {
    background: #d1d0d0;
}

#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    height: 100px;
}

#heading h1 {
    font-weight: bold;
    font-size: 50px;
}

#ascii {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(100, 98, 98);
}

#infos {
    display: flex;
    justify-content: space-evenly;
}

.info-box {
    text-align: center;
    width: 20%;
    border: 1px solid #ccc;
}

.info-box h3 {
    background: #b9e9ff;
    border-bottom: 2px solid #b9e9ff;
    padding: 5px;
    font-weight: bold;
}

.info-box h2 {
    background: #fff;
    padding: 5px;
}

#heading, #ascii, #infos {
    display: none;
}

#starter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    height: 100vh;
}

#starter #starter-text {
    background: #fff;
    padding: 10px;
}*/

body {
    background: #ee0058;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    width: 300px;
}

.form .form-element {
    position: relative;
}

.form .form-element input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #888;
    background: #f5f5f5;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
    text-indent: 10px;
}

.form .form-element .toggle-password {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.form .form-element .toggle-password.active i.fa-eye {
    display: none;
}

.form .form-element .toggle-password.active i.fa-eye-slash {
    display: inline;
}

.form .form-element .toggle-password i.fa-eye-slash {
    display: none;
}

.form .form-element .password-policies {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    padding: 0;
    height: 0;
    background: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.form .form-element .password-policies.active {
    opacity: 1;
    padding: 10px;
    height: 180px;
}

.form .form-element .password-policies>div {
    margin: 15px 10px;
    font-weight: 600;
    color: #888;
}

.form .form-element .password-policies>div.active {
    color: #111;
}
