/*@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    background: #FFFFFF;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

body {
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
}

.modal {
    background-color: rgb(223, 28, 28);
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    transition: all 1s linear;
}

span {
    display: none;
}

.red {
    color: red;
}
.sm-font {
    font-size: 40px;
}*/

/*body {
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fnameInput,
.lnameInput,
.phoneInput,
.emailInput,
.countrySelect,
.citySelect {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    padding: 0 10px;
}
.btn {
    height: 30px;
    border-radius: 5px;
    border: 0;
    padding: 0 20px;
    background-color: rgb(255, 217, 0);
    margin-top: 40px;
}
.box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}*/
/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}*/

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Roboto", sans-serif;
    --color: rgb(43, 68, 180);
    --color2: rgb(157, 239, 241);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
            330deg,
            var(--color) 10%,
            var(--color2) 80%
    );
    font-size: 20px;
}

label {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
}

input {
    margin: 50px 0 10px;
    padding: 7px;
    font-size: 20px;
}

.result {
    margin: 10px 0 50px;
    font-size: 26px;
    color: rgb(255, 255, 102);
    letter-spacing: 1px;
    height: 1em;
    font-weight: bold;
}

button {
    width: 200px;
    margin: 0 30px;
    padding: 10px 30px;
    background: none;
    border: 2px solid var(--color);
    border-radius: 5px;
    color: var(--color2);
    font-size: 25px;
    transition: color 0.3s, box-shadow 0.3s;
    box-shadow: 3px 3px 10px var(--color);
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    color: var(--color);
    box-shadow: 3px 3px 10px var(--color2);
}
@media screen and (max-width: 500px) {
    label {
        font-size: 35px;
    }
}

@media screen and (max-width: 1000px) {
    button {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }
}*/
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: IranSans
}

@font-face {
    font-family: IranSans;
    src: url(../fonts/IRANSansWeb.ttf);
}

body {
    background: #d1d0d0;
}

#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    height: 100px;
}

#heading h1 {
    font-weight: bold;
    font-size: 50px;
}

#ascii {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(100, 98, 98);
}

#infos {
    display: flex;
    justify-content: space-evenly;
}

.info-box {
    text-align: center;
    width: 20%;
    border: 1px solid #ccc;
}

.info-box h3 {
    background: #b9e9ff;
    border-bottom: 2px solid #b9e9ff;
    padding: 5px;
    font-weight: bold;
}

.info-box h2 {
    background: #fff;
    padding: 5px;
}

#heading, #ascii, #infos {
    display: none;
}

#starter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    height: 100vh;
}

#starter #starter-text {
    background: #fff;
    padding: 10px;
}*/

/*body {
    background: #ee0058;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    width: 300px;
}

.form .form-element {
    position: relative;
}

.form .form-element input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #888;
    background: #f5f5f5;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
    text-indent: 10px;
}

.form .form-element .toggle-password {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.form .form-element .toggle-password.active i.fa-eye {
    display: none;
}

.form .form-element .toggle-password.active i.fa-eye-slash {
    display: inline;
}

.form .form-element .toggle-password i.fa-eye-slash {
    display: none;
}

.form .form-element .password-policies {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    padding: 0;
    height: 0;
    background: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.form .form-element .password-policies.active {
    opacity: 1;
    padding: 10px;
    height: 180px;
}

.form .form-element .password-policies>div {
    margin: 15px 10px;
    font-weight: 600;
    color: #888;
}

.form .form-element .password-policies>div.active {
    color: #111;
}*/

/*body {
    background: #353f5b;
}
.container {
    max-width: 400px;
    margin-top: 90px;
}
.search i {
    position: absolute;
}
.search {
    position: relative;
}
.icon {
    padding: 10px;
    left: 0;
}
.input-field {
    text-align: center;
}

input[type="text"],
input[type="text"]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    max-width: 400px;
}
.todos li {
    background: #423a6f;
}
.delete {
    cursor: pointer;
}


.filtered{
    display: none !important;
}*/

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background: #f2f4f6;
    overflow: hidden;
}
ul {
    list-style: none;
}
.context-menu {
    position: absolute;
}
.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}
.menu > li > a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}
.menu > li > a:hover {
    background:#f1f3f7;
    color: #4b00ff;
}
.menu > li > a > i {
    padding-right: 10px;
}
.menu > li.trash > a:hover {
    color: red;
}*/

/*.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

#title {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}*/

/*#box {
    width: 300px;
    height: 250px;
    background-color: red;
}*/

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to top, #56e2d7 0%, #58cff1 100%);
}

.wrapper {
    background: #fff;
    padding: 20px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper form {
    height: 55px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

form i {
    position: absolute;
    width: 55px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    pointer-events: none;
}

form input:valid ~ i {
    color: #58cff1;
}

form input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 50px 0 45px;
    font-size: 20px;
    caret-color: #58cff1;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: all 0.1s ease;
}

form input::selection {
    color: #fff;
    background: #58cff1;
}

form input:focus,
form input:valid {
    border-color: #58cff1;
}

form input::placeholder {
    color: #c4c4c4;
}

form .counter {
    position: absolute;
    right: 3px;
    width: 55px;
    font-size: 20px;
    color: #c4c4c4;
    text-align: center;
    border-left: 1px solid #d8d8d8;
    pointer-events: none;
}

form input:valid ~ .counter {
    color: #58cff1;
    border-color: #58cff1;
}*/

/* *{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(19, 19, 23, 0.9);
}
section{
    background-image: url("../images/modal-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.center{
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    margin: 40px;
    text-transform: capitalize;
}
button{
    margin: 0 auto;
    height: 60px;
    width: 500px;
    background: #5454ff;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
}

.modal-parent{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal{
    background: white;
    width: 70%;
    padding: 30px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-family: arial;
    position: relative;
    animation: 0.5s drop;
}
@keyframes drop {
    0%{
        top: -100px;
    }
    100%{
        top: 50%;
    }
}
.X{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 40px;
    cursor: pointer;

}
section{
    transition: 2s;
}*/

/*NoteApp*/
/*:root {
    --detail-color: #D10294;
    --section-color: #616161;
    --white-color: #F8F8FF;
    --header-color: #444649;
}

body {
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 8pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    padding: 70px 0 70px 0;
    color: var(--section-color);
    line-height: 11pt;
    position: relative;
}

section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

section .flex-50-gt-sm {
    display: block;
}

section:nth-of-type(2) {
    height: calc(78.3vh + 53px);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.row {
    flex-direction: row;
}

.header {
    font-size: 25pt;
    position: relative;
    color: var(--header-color);
}

.header-bar {
    margin: 25px 0 60px 0;
    width: 70px;
    height: 4px;
    background: var(--header-color);
}

.highlight {
    color: var(--detail-color);
}

.label {
    font-size: 14pt;
    font-weight: 500;
}

.upper {
    text-transform: uppercase;
}

@media screen and (min-width: 290px) {
    .header {
        font-size: 18pt;
    }
}

@media screen and (min-width: 600px) {
    body {
        font-size: 12pt;
    }

    section {
        line-height: 18pt;
        padding: 100px 0 130px 0;
    }

    section .container {
        padding: 0 10px;
    }

    .container {
        padding: 0 20px;
    }

    .header {
        font-size: 30pt;
    }

    .header-bar {
        margin: 25px 0 50px 0;
    }

    .label {
        font-size: 18pt;
    }
}

@media screen and (min-width: 960px) {
    .flex.row-gt-sm {
        flex-direction: row;
    }

    .flex-50-gt-sm {
        -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        max-width: 50%;
        max-height: 100%;
        box-sizing: border-box;
    }
}

.within-list {
    cursor: pointer;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

#listed:nth-child(odd):hover {
    cursor: pointer;
}

#color-select {
    display: flex;
    padding: 5px 10px 0 0;
}

.color-box {
    border: solid 1px #929292;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-left: 5px;
}*/

/*sticky navbar*/
/*  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
}

#mainNav .logo img {
    height: 84px;
    transition: height 0.4s;
}

#mainNav {
    display: flex;
    justify-content: space-between;
    padding:  0 16px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #eee;
    transition: background 0.4s;
}

section {
    height: 300px;
    padding: 16px;
    font-size: 20px;
}

section:nth-of-type(1) {
    margin-top: 84px;
}

section:nth-of-type(odd) {
    background-color: #eee;
    color: #333;
}

section:nth-of-type(even) {
    background-color: #333;
    color: #eee;
}

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: pink;
}

#mainNav ul {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

#mainNav ul li a {
    color: #333;
    font-weight: 500;
    transition: color 0.4s;
}

.bg-black {
    background: #333 !important;
}

.txt-white a{
    color: #eee !important;
}*/

/*#btn {
    position: fixed;
}*/

/*@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #c9ced3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito, sans-serif;
    font-size: 12px;
}

.bg-container {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

.bg-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    -webkit-filter: blur(50px);
    transform: scale(1.1);
}

.player-container {
    height: 500px;
    width: 400px;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
    width: 300px;
    height: 300px;
    position: relative;
    top: -50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    height: 0;
    width: 0;
    opacity: 0;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.img-container img.active {
    transition: .5s;
    opacity: 1;
    width: 100%;
    height: 100%;
    margin-top: 73px;
}


h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}

.progress {
    background: #242323;
    border-radius: 5px;
    height: 100%;
    width: 0;
    transition: width 0.1s linear;
}

.duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

.player-controls {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}

.fas {
    font-size: 30px;
    color: rgb(129, 129, 129);
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}

.main-button {
    font-size: 40px;
    position: relative;
    top: 3px;
}

@media screen and (max-width: 376px) {
    .player-container {
        width: 95vw;
    }

    .img-container {
        left: 29px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    .player-controls {
        top: -10px;
        left: 100px;
    }
}*/

/* * {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-decoration: none;
    list-style-type: none;
    font-family: "IRANSans";
}


h1 {
    text-align: center;
}

.container {
    width: 75%;
    height: auto;
    margin: auto;
}

.main-music {
    width: 25%;
    position: relative;
    display: inline;
    margin-right: 89px;
}

.main-music:hover.main-music img {
    box-shadow: 0 0 25px #5d5d5d;
    transform: translateY(-10px);
}

.main-music img {
    width: 220px;
    height: 220px;
    transition: all .4s ease;

}

.main-music:hover i {
    visibility: visible;

}

.fa-play {
    background: #ff0404;
    position: absolute;
    width: 66px;
    left: 37%;
    top: -108px;
    text-align: center;
    height: 26px;
    padding-top: 5%;
    border-radius: 10px;
    color: #fff;
    visibility: hidden;
}*/

/*.drop {
    width: 200px;
    height: 235px;
    border: 8px solid lightblue;
}*/

/* * {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 1000px;
    height: 80vh;
    display: flex;
}

.status {
    width: 25%;
    background-color: #f3f3f3;
    position: relative;
    padding: 60px 1rem 0.5rem;
}

.status:nth-child(even) {
    background-color: #e9e9e96b;
}

.status h1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #343434;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
}

#add_btn {
    padding: 0.5rem 1rem;
    background-color: #ccc;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
}

#add_btn:hover {
    background-color: #aaa;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.todo .close {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.todo .close:hover {
    color: #343444;
}

.close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
}

.modal {
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
    background-color: #fff;
}

.modal.active {
    top: 15%;
}

.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
    padding: 0.75rem;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
    display: block;
}

#todo_input,
#todo_submit {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
}

#todo_submit {
    background-color: #4caf50;
    color: #f3f3f3;
    font-size: 1.25rem;
    border: none;
}*/

/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 241, 241);
    font-family: "Poppins", sans-serif;
    color: rgb(57, 57, 57);
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 50px 0 10px 0;
}

p {
    margin: 0px;
    font-size: 20px;
}

a {
    color: rgb(162, 0, 255);
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
}

.dark a {
    color: rgb(246, 169, 241);
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(39, 38, 38);
    position: relative;
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
}

.dark > * {
    color: rgb(255, 255, 255);
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.main-text {
    padding: 30px;
    margin-bottom: 100px;
}

.square {
    width: 98%;
    margin: 1%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.dark .square {
    background-color: rgb(71, 71, 71);
}

#revenoo {
    background-image: url("../images/revenoo-app.png");
    background-size: cover;
}

#burgerrator {
    background-image: url("../images/burgerrator.png");
    background-size: cover;
}

#news {
    background-image: url("../images/news-app.png");
    background-size: cover;
}

#dates {
    background-image: url("../images/dates-app.png");
    background-size: cover;
}

.sub-section {
    display: flex;
    flex-wrap: wrap;
}

.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
    margin-bottom: 100px;
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube:before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html {
    left: 100px;
    bottom: 80px;
    background-image: url("../images/html-square.png");
    background-size: cover;
    background-color: rgb(175, 119, 227);
    box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}

#html:before {
    background-color: rgb(189, 154, 221);
}

#html:after {
    background-color: rgb(205, 188, 221);
}

#css {
    left: 250px;
    bottom: 240px;
    background-image: url("../images/css-square.png");
    background-size: cover;
    background-color: rgb(227, 119, 191);
    box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
}

#css:before {
    background-color: rgb(221, 154, 207);
}

#css:after {
    background-color: rgb(221, 188, 211);
}

#javascript {
    left: 450px;
    bottom: 200px;
    background-image: url("../images/javascript-square.png");
    background-size: cover;
    background-color: rgb(119, 227, 186);
    box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#javascript:before {
    background-color: rgb(154, 221, 202);
}

#javascript:after {
    background-color: rgb(188, 221, 212);
}

#react {
    left: 350px;
    bottom: 40px;
    background-image: url("../images/react-square.png");
    background-size: cover;
    background-color: rgb(119, 193, 227);
    box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#react:before {
    background-color: rgb(154, 189, 221);
}

#react:after {
    background-color: rgb(188, 200, 221);
}

footer {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(136, 136, 136);
}

.dark footer {
    background-color: rgb(28, 28, 28);
}

@media only screen and (min-width: 970px) {
    .main-text {
        width: 50%;
    }

    .square {
        width: 48%;
        margin: 1%;
        height: 600px;
    }
}

@media only screen and (max-width: 1300px) {
    .hero-image {
        display: none;
    }
}*/

/* #todoList label{
    width: 80%;
}
#todoList li{
    list-style-type: none;
}
.completed{

}
.uncompleted label{
    color: #afa7a7;
    text-decoration: line-through;
}
#todoList .btn{
    margin-left: 10px;
}*/

div {
    width: 600px;
    height: 120px;
    background-color: lightgray;
    font-size: 22px;
    padding: 10px;
    margin: 30px;
    text-align: center;
    font-weight: bold;
    position: relative;
}
@keyframes move {
    from {top: 0;}
    to {top: 180px;}

}






